extends layout
block title
  title 首页

block content
  table
    thead
      tr
        th.th3
          text 案号
        th.th3
          text 案由
        th.th4
          text 当事人
        th.th2
          text 开庭时间
block foot
