doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv="Content-Type", content='text/html', charset='utf-8')
    //link(href="/stylesheets/metro/modern.css", rel="stylesheet")
    link(href="/stylesheets/metro/metro-bootstrap.css", rel="stylesheet")
    link(href="/stylesheets/style.css", rel="stylesheet")
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/javascripts/jquery.widget.js')
    script(type='text/javascript', src='/javascripts/jquery.mousewheel.js')
    script(type='text/javascript', src='/javascripts/underscore.js')
    script(type='text/javascript', src='/javascripts/backbone.js')
    script(type='text/javascript', src='/javascripts/metro/metro.min.js')

    block title

  body.metro
    .page
      .nav-bar
        .nav-bar-inner
          span.pull-menu
          a(href="/")
            span.element.brand
              small kevin
          .divider
          ul.menu
            li
              a(href="index") 首页
            li(data-role="dropdown")
              a(href="#") pp
              ul.dropdown-menu
                li
                  a(href="pp")
                li
                  .divider
          ul.nav.navbar-nav.pull-right
            li
              a(href="#") 右边链接
            li.divider-vertical
            li.dropdown
              a.dropdown-toggle(data-toggle="dropdown", href="#") username
              ul.dropdown-menu
                li
                  a(href="#") 修改密码
                li
                  a(href="/logout") 注销
  
    .page.bg-color-red asdfasdfasfsaf
    block content
    block foot

